@import url('bower_components/bootstrap/dist/css/bootstrap.min.css');
@import url('bower_components/bootstrap/dist/css/bootstrap-theme.min.css');

#main-panel {
  margin: 0;
}
.panel-footer {
  padding-top: 0px;
  padding-bottom: 0px;
}
.control {
  display: flex;
  height: 41px;
  justify-content: center;
  align-items: center;
}
.control:hover {
  background-color: #DBDBDB;
}
.control>.glyphicon {
  top: 0px;
}