name: Build macOS App

on:
  push:
    branches: [ compile-exe, main ]
  pull_request:
    branches: [ compile-exe, main ]
  release:
    types: [created]
  workflow_dispatch:
    inputs:
      tag_name:
        description: 'Tag name for release (e.g. v1.0.12)'
        required: false

permissions:
  contents: write

jobs:

  build-macos:
    runs-on: macos-latest
    
    steps:
    - uses: actions/checkout@v4
    
    - name: Use Node.js
      uses: actions/setup-node@v4
      with:
        node-version: 22
        
    - name: Install pnpm
      uses: pnpm/action-setup@v3
      with:
        version: 10
        run_install: false

    - name: Get pnpm store directory
      shell: bash
      run: |
        echo "STORE_PATH=$(pnpm store path --silent)" >> $GITHUB_ENV
        echo "CSC_IDENTITY_AUTO_DISCOVERY=false" >> $GITHUB_ENV

    - uses: actions/cache@v4
      name: Setup pnpm cache
      with:
        path: ${{ env.STORE_PATH }}
        key: ${{ runner.os }}-pnpm-store-${{ hashFiles('**/pnpm-lock.yaml') }}
        restore-keys: |
          ${{ runner.os }}-pnpm-store-

    - name: Install dependencies
      run: pnpm install --frozen-lockfile

    - name: Create .env file
      run: |
        echo "GH_TOKEN=${{ secrets.GITHUB_TOKEN }}" >> .env

    - name: Build Electron App
      run: |
        # Build the Electron app
        npm run build
        
        # Package the app into a macOS app
        npm run package-mac
        
    - name: Upload Artifact
      uses: actions/upload-artifact@v4
      with:
        name: macos-app
        path: dist/*.dmg

    - name: Upload to Release
      uses: softprops/action-gh-release@v1
      if: github.event_name == 'release' || github.event_name == 'workflow_dispatch'
      with:
        tag_name: ${{ inputs.tag_name }}
        files: |
          dist/*.dmg
          dist/*.zip
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
